@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    @font-face {
      font-family: 'Pretendard';
      src: url('/public/fonts/PretendardVariable.ttf') format('truetype');
    }
  
    html {
      font-family: 'Pretendard', sans-serif;
      /* font-size: 16px; */
      /* font-weight: 700; */
      /* color: #1d1d1f; */
    }
  }

  @layer components{
    .exchange-button-no {
        @apply fixed bottom-28 right-5 bg-primary p-3 rounded-full shadow-Contents-contentPrimary shadow-md
      }
    
      .exchange-button-active {
        @apply fixed bottom-28 right-5 p-3 rounded-full bg-background shadow-Contents-contentPrimary shadow-md
      }
      .exchange-li-button {
        @apply bg-primary rounded-4xl w-28 h-auto px-5 py-[0.625em] text-base font-pretendard text-background font-semibold leading-normal mb-1;
      }
    
      .exchange-li-write {
        @apply bg-secondary rounded-4xl w-28 h-auto px-5 py-[0.625em] text-base font-pretendard text-background font-semibold leading-normal mb-1;
      }
    
      
  }